.kwadrat{
  /* position: relative; */
  margin: 0 auto;
  width : 600px;
  height: 600px;
  background-color: rgb(0, 51, 66);
  border: 5px solid rgb(17, 199, 190);
  border-radius: 10px;
}
.pilka{
  position: relative;
  top   : 290px;
  left  : 290px;
  width : 20px;
  height: 20px;
  background: rgb(17, 199, 190);
  border-radius: 100%;
}